* {
  box-sizing: border-box;
}

body {
  margin: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

/* TASK1 */

.item {
  list-style-type: none;
  border-radius: 8px;
  padding: 16px;
  width: 392px;
  background-color: #f6f6fe;
  margin-bottom: 24px;
}

.list-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
  letter-spacing: 0.04em;
  color: #2e2f42;
  margin-top: 0;
}

.list-item {
}

.list-item-name {
  width: 360px;
  height: 40px;
  list-style-type: none;
  border-radius: 100%;
  border-color: #2e2f42;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

/* TASK2 */

.gallery {
  display: flex;
  flex-wrap: wrap;
  width: calc((100% - 24px) / 3);
}

/* TASK3 */

.name-span {
  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.name-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #2e2f42;
  width: 360px;
  height: 39px;
  padding-left: 16px;
}

/* TASK4 */

.label-name {
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #2e2f42;
  margin-bottom: 20px;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;
  border-radius: 8px;
  padding: 8px 16px;
  width: 86px;
  height: 40px;
  background-color: #4e75ff;
  border-style: none;
}

.btn:hover,
.btn:focus {
  background-color: #6c8cff;
}

.input {
  max-width: 360px;
  margin-top: 7px;
}

/* TASK5 */

.widget {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.widget-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.change-color {
  border-radius: 8px;
  padding: 8px 16px;
  width: 148px;
  height: 40px;
  background-color: #4e75ff;
  border-style: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;
}

.change-color:hover,
.change-color:focus {
  background-color: #6c8cff;
}

/* TASK6 */
#boxes {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

#boxes div {
  display: inline-block;
  margin: 5px;
}

.boxes-input {
  border: 1px solid #808080;
  border-radius: 8px;
  padding: 8px 64px;
  width: 150px;
  height: 30px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.boxes-widget {
  display: flex;
  gap: 16px;
}

.btn-boxes-submit {
  background-color: #4e75ff;
  border-style: none;
  border-radius: 8px;
  padding: 8px 16px;
  width: 120px;
  height: 30px;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-boxes-submit:hover,
.btn-boxes-submit:focus {
  background-color: #6c8cff;
}

.btn-boxes-dismiss {
  background-color: #ff4e4e;
  border-style: none;
  border-radius: 8px;
  padding: 8px;
  width: 120px;
  height: 30px;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-boxes-dismiss:hover,
.btn-boxes-dismiss:focus {
  background-color: #ff7070;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
