* {
  box-sizing: border-box;
}

body {
  margin: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

/* TASK1 */

.item {
  list-style-type: none;
  border-radius: 8px;
  padding: 16px;
  width: 392px;
  background-color: #f6f6fe;
  margin-bottom: 24px;
}

.list-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
  letter-spacing: 0.04em;
  color: #2e2f42;
  margin-top: 0;
}

.list-item {
}

.list-item-name {
  width: 360px;
  height: 40px;
  list-style-type: none;
  border-radius: 100%;
  border-color: #2e2f42;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

/* TASK2 */

.gallery {
  display: flex;
  flex-wrap: wrap;
  width: calc((100% - 24px) / 3);
}

/* TASK3 */

.name-span {
  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.name-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #2e2f42;
  width: 360px;
  height: 39px;
  padding-left: 16px;
}

/* TASK4 */
